html, body {
    color: blue;
    background-color: rgba(0, 0, 0, 0.767);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
}

.Aplicacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen {
    width: 1800px;
    height: 800px;
}

.tabla {
    width: 1000px;
    text-align: center;
    border: 1px solid #000;
    color: rgba(202, 11, 11, 0.616);
    border-spacing: 0px;
}

tr, td {
    border: 2px solid blue;
    border-spacing: 0px;
}